{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All BRANDS</title>
    <script src="https://kit.fontawesome.com/8ba53d469b.js" crossorigin="anonymous"></script>
    <style>
        .margin-20{
            margin-left: 60px;
        }
        #shipping{
            height: 70px;
            width: 70px;
        }
        #brand{
            height: 50px;
            width: 50px;
        }
        #return{
            height: 50px;
            width: 50px;
        }
        #payment{
            height: 50px;
            width: 50px;
        }
        #beauty{
            height: 50px;
            width: 50px;
        }
        #help{
            height: 50px;
            width: 50px;
        }
        #pay{
            height: 30px;
            width: 200px;
        }
        .margin-10{
            margin-left: 30px;
        }
        .pl-5{
            margin-left: 30px;
        }
        h3{
            font-weight: bold;
            color: black;
            padding-left: 20px;
        }
        h6{
            font-weight: 200;
            color: black;
            padding-left: 30px;
        }
        #home{
            font-size: large;
            font-weight: bolder;
            padding-left: 10px;
        }
        #category{
            font-size: large;
            font-weight: bolder;
            padding-left: 10px;
        }
        #brand{
            font-size: large;
            font-weight: bolder;
            color: rgb(227, 12, 123);
            padding-left: 10px;

        }
        #offer{
            font-size: large;
            font-weight: bolder;
            padding-left: 10px;

        }
        #shop{
            font-size: large;
            font-weight: bolder;
            padding-left: 10px;

        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand margin-20" href="/"  style="margin-left: 0.1%;"><h1 style="color: rgb(17, 77, 17); font-family:'Courier New', Courier, monospace; font-weight:bold">EVERGLOWY</h1></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 width-100">
                <li class="nav-item margin-20">
                  <a class="nav-link active " aria-current="page" href="/" id="home" style="color:rgb(243, 9, 126); font-weight:bolder;">Home</a>
                </li>
                <li class="nav-item dropdown margin-20">
                  <a class="nav-link dropdown-toggle" type="choose" href="category" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Category
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown"  style="color:black;">
                    {% for x in cat %}
                    <li><a class="dropdown-item" href="category/{{x.main_category_id}}" style="color:black;">{{x.main_category_name}}</a></li>
                    {% endfor %}
                  </ul>
                </li>
                <li class="nav-item margin-20">
                  <a class="nav-link" href="brand" id="brand">Brand</a>
              </li>
              <li class="nav-item margin-20">
                <a class="nav-link" href="offers" id="shop">Offers</a>
            </li>
                <li class="nav-item margin-20"><div class=".search-container">
              <form method="POST" action="/search">
                {% csrf_token %}
              <input type="text" placeholder="Search.." name="search" style="border-color:blue;">
              <button type="submit" class="btn btn-close-black" style="height:38px; border-color:blue; border-radius:0;"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form></div>
                </li>
            <li><a href="wishlist"><i class="fa-solid fa-heart margin-20" style="font-size: larger; color: red;   padding-top: 10px;"></i></a></li>
            <li><a href="cart"><i class="fa-solid fa-cart-shopping margin-20" style="font-size: larger;  color: black; padding-top: 10px;"></i></a></li>
            <li><a href="profile"><i class="fa-solid fa-user margin-20" style="font-size: larger;  color: black; padding-top: 10px;"></i></a></li>
            <li>
              {% if user == 'no user' %}
                  <a href="/login"  class="btn btn-info" style="color: black;">Login</a>
                  {% else %}
                  <a href="/logout" class="btn btn-outline-info" style="color: black;">Logout</a>
                  <h6>{{user.user_name}}</h6>
              {% endif %}
            </li>
              </ul>
            </div>
          </div>
        </nav><br>


    <section class="top">
        <div class="top-brand">
            <h3 style="text-align: center; color:rgb(49, 26, 131); font-family:Arial, Helvetica, sans-serif">ALL BRANDS</h3>
        </div>
    </section><br>

    <section class="all" >
        <div class="all-brands" >
            <div class="row">
                <div class="col-md-2">
                    <h3>A</h3>
                    <h6> Acure <br>Advanced Clinical <br>
                        Alite <br>
                        All Naturals <br>
                        Alps Goodness <br>
                        Amarte <br>
                        Andalou Naturals <br>
                        Aqualogica <br>
                        Art Natural <br>
                        Australian Body Care <br>
                        Avya Skincare <br>
                        Azure
                    </h6><br>
                    <h3>B</h3>
                    <h6>BBLUNT <br>
                        Beyou <br>
                        Biotique <br>
                        Burts Bee
                    </h6><br>
                    <h3>C</h3>
                    <h6>
                        Cerave <br>
                        Cetaphil <br>
                        Chik <br>
                        Clean & Clear <br>
                        COSRX
                    </h6><br>
                </div>
                <div class="col-md-2">
                    <h3>D</h3>
                    <h6>
                        Dabur <br>
                        Derma E <br>
                        DermDoc <br>
                        Dot & Key <br>
                        Dove <br>
                        Dr.Batars <br>
                        Dr.Sheths <br>
                    </h6><br>
                    <h3>E</h3>
                    <h6>E.I.F Pure Skin <br>
                        Elemies <br>
                        Eminence <br>
                        ETUDE <br>
                        Eva Naturals  <br>
                        Eve Hansen <br>
                        Everyuth
                    </h6><br>
                    <h3>F</h3>
                    <h6>Faces Canada <br>
                        First Aid Beauty Skin Rescue <br>
                        Forest Essential
                    </h6><br>


                </div>
                <div class="col-md-2">
                    <h3>G</h3>
                    <h6>Garnier <br>
                        Gold Bond <br>
                        Good vibes
                    </h6><br>
                    <h3>H</h3>
                    <h6>Herbal Luxury <br>
                        Himalaya
                    </h6><br>
                    <h3>I</h3>
                    <h6>Incolor <br>
                        Indulekha <br>
                        Insight <br>
                        Insta Naturals
                    </h6><br>
                    <h3>J</h3>
                    <h6>Jovees <br>
                        Joy <br>
                        Just Herbs</h6><br>
                    <h3>K</h3>
                    <h6>KAJA <br>
                        Kama Ayurveda <br>
                        Khadi
                    </h6><br>

                </div>
                <div class="col-md-2">
                    <h3>L</h3>
                    <h6>L.A.Colors <br>
                        Lakme <br>
                        La Shield <br>
                        LiLyana Naturals <br>
                        Loreal Paris <br>
                        Lotus Herbals <br>
                        Love Beauty & Planet
                    </h6><br>
                    <h3>M</h3>
                    <h6>
                        M.A.C <br>
                        Madara Organics <br>
                        Mad Hippie <br>
                        Mamaearth <br>
                        Marlowe  <br>
                        MARS <br>
                        Mason Naturals <br>
                        M Caffeine <br>
                        Minimalist <br>
                        Murad City <br>
                        Maybelline Newyork <br>
                        MyGlamm
                    </h6> <br>
                    <h3>N</h3>
                    <h6>Neals Yard Remedies <br>
                        Neutriderm <br>
                        Neutrogena <br>
                        Nivea <br>
                        NY Bea</h6> <br>

                </div>
                <div class="col-md-2">
                    <h3>O</h3>
                    <h6>Organic Harvest</h6> <br>
                    <h3>P</h3>
                    <h6>
                        Pacifica <br>
                        Palmers Skin Care <br>
                        pilgrim <br>
                        Plum <br>
                        Ponds <br>
                        Proactivmd</h6> <br>
                    <h3>R</h3>
                    <h6>Ren Clean Skin Care<br>
                        RENEE<br>
                        Revolution Pro<br>
                        RiRe</h6><br>
                    <h3>S</h3>
                    <h6>
                        Satyrday Skin<br>
                        Schwarzkopf Professional<br>
                        Sebamed<br>
                        Sesa<br>
                        Simple<br>
                        Soap Glory<br>
                        St.Botanica<br>
                        Sugar<br>
                        Sugar Pop<br>
                        sunsilk<br>
                        Swiss Beauty</h6><br>

                </div>
                <div class="col-md-2">
                    <h3>T</h3>
                    <h6>The Derma Co.<br>
                        The Moms Co.<br>
                        Tru Hair<br>
                        Tyro </h6><br>
                    <h3>V</h3>
                    <h6>Vaseline<br>
                        VLCC</h6><br>
                    <h3>W</h3>
                    <h6>Weleda<br>
                        WOW</h6><br>
                    <h3>Y</h3>
                    <h6>Yu-Be</h6><br>
                    <h3>OTHERS</h3>
                    <h6>7 Elements</h6><br>
                </div>
            </div>
        </div>
    </section>
    <section class="detail">
        <div class="container">
            <div class="row">
                <div class="col-4"><br>
                    <img id="shipping" src="{% static 'images/shipping.png' %}">
                    <h5 id="srb">Free Shipping</h5>
                    <h6 id="oro">On orders above ₹499</h6>
                </div>
                <div class="col-4"><br>
                    <img id="return" src="{% static 'images/returns.webp' %}">
                    <h5 id="srb">Easy Return</h5>
                    <h6 id="oro">100% Return in 5 Days</h6>
                </div>
                <div class="col-4"><br>
                    <img id="brand" src="{% static 'images/brand1.png' %}">
                    <h5 id="srb">700+ Brands</h5>
                    <h6 id="oro">Over 10000+ Genuine Products</h6>
                </div>
            </div>
        </div>
    </section><br>
    <section class="secure">
        <div class="container">
            <div class="row">
                <div class="col-4"><br>
                    <img id="payment" src="{% static 'images/secure payment.png' %}">
                    <h3 id="sbh">100% Secure Payment</h3>
                    <h6 id="agt">All Online Payments are Accepted</h6>
                </div>
                <div class="col-4"><br>
                    <img id="beauty" src="{% static 'images/beauty assist.png' %}">
                    <h3 id="sbh">Beauty Assistant</h3>
                    <h6 id="agt">Tell me what you are <br> looking for and <br>
                        i will work my magic <br> to help you find your <br>
                        perfect match.</h6>
                </div>
                <div class="col-4"><br>
                    <img id="help" src="{% static 'images/help center.png' %}">
                    <h3 id="sbh">Help Center</h3>
                    <h6 id="agt">Got a question? <br>Look no further. <br>
                        Browse FAQs or <br>submit your query.</h6>
                </div>
            </div>
        </div>
    </section><br>
    <section class="about">
        <div class="about-us">
            <div class="container ">
                <div class="row">
                    <div class="col">
                        <h5 id="epn"
                            style="color: rgb(17, 77, 17); font-family:'Courier New', Courier, monospace; font-weight:bold; font-size:Larger;">
                            <br>EVERGLOWY
                        </h5>
                        <h6 id="apf">About us<br>Careers<br>Press<br>Sitemap<br>Compilance</h6>
                    </div>
                    <div class="col">
                        <h5 id="epn"><br>POLICY INFO</h5>
                        <h6 id="apf">Privacy Policy<br>Terms Of Use<br>Return & Cancellation<br>Policy</h6>
                    </div>
                    <div class="col">
                        <h5 id="epn"><br>NEED HELP?</h5>
                        <h6 id="apf">FAQ's<br>Contact Us</h6>
                    </div>
                </div>
            </div>
        </div>
    </section><br>
    <section class="pay">
        <div class="pay">
            <div class="row">
                <div class="col">
                    <h5 class="payment pl-5" style="margin-left:90px;">PAYMENT</h5>
                    <img id="pay" src="{% static 'images/Screenshot 2024-01-10 183402.png' %}"><br>
                    <h6 id="net">NET BANKING </h6>
                    <h6 id="cash">₹ CASH ON DELIVERY</h6>
                </div>
                <div class="col">
                    <h5>CONNECT</h5>
                    <i class="fa-brands fa-facebook-f margin-10"></i>
                    <i class="fa-brands fa-facebook-messenger  margin-10"></i>
                    <i class="fa-brands fa-instagram  margin-10"></i>
                    <i class="fa-regular fa-envelope  margin-10"></i>
                    <i class="fa-brands fa-whatsapp margin-10"></i>
                    <i class="fa-brands fa-twitter margin-10"></i>
                    <i class="fa-brands fa-youtube margin-10"></i>
                </div>
            </div>
        </div>
    </section>
    <section class="foot">
        <div class="foots">
            <footer class="bg-dark text-light p-1">
                <h6 style="text-align: center;">Copyright ©2024 Everglowy.All Rights Reserved.</h7>
            </footer>
        </div>
    </section>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>