{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible"content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>orders</title>
	<link rel="stylesheet" href="{% static '/css/profile.css' %}" text="text/css">
</head>
<body>


	<header>

		<div class="logosec">
						<a href="/" style="text-decoration:none;"><div class="logo"  style="color: rgb(17, 77, 17); font-family:'Courier New', Courier, monospace; font-weight:bold">EVERGLOWY</div></a>
			<img src= "{% static 'images/menu-png-icon-13.png' %}" class="icn menuicn" id="menuicn" alt="menu-icon">
		</div>
	</header>

	<div class="main-container">
		<div class="navcontainer">
			<nav class="nav">
				<div class="nav-upper-options">
					<div class="nav-option option3">
						<img src= "{% static 'images/Profile-PNG-Image.png' %}" class="nav-img" alt="profile">
							<a href="profile" style="text-decoration:none; color:black;"><h3> Profile</h3></a>
					</div>

					<div class="nav-option option3">
						<img src= "{% static 'images/address-icon-png-5.png' %}" class="nav-img" alt="address">
							<a href="view_address" style="text-decoration:none; color:black;"><h3> Address</h3></a>
					</div>

					<div class="option1 nav-option">
						<img src= "{% static 'images/order-png-image.png' %}" class="nav-img" alt="orders">
                        <a href="order" style="font-size: 1.17em;; font-weight:bold;text-decoration:none; color:black;"><h3> Orders</h3></a>
					</div>

					<div class="nav-option option3">
						<img src= "{% static 'images/fav-png-image.png' %}" class="nav-img" alt="fav">
                        <a href="wishlist" style="font-size: 1.17em;; font-weight:bold;text-decoration:none; color:black;"><h3> Favourites</h3></a>
					</div>

					<div class="nav-option option3">
						<img src= "{% static 'images/cart png image.png' %}" class="nav-img" alt="fav">
						<a href="cart" style="font-size: 1.17em;; font-weight:bold;text-decoration:none; color:black;"><h3> Cart</h3></a>
					</div>

					<div class="nav-option logout">
						<img src= "{% static 'images/logout-png-image.png' %}" class="nav-img" alt="logout">
						<a href="logout" style="text-decoration:none;"><h3 style="text-decoration:none; color:black; font-size: 1.17em;; font-weight:bold;"> Logout</h3></a>
					</div>

				</div>
			</nav>
		</div>
        <div class="main">
        <h3 style="text-align:center;">Order Details</h3><br>
            <div class="orders">
                {% for x in order %}
                    <p>Order ID: {{x.order_id}}</p>
                    <p>Order Date: {{x.order_date}}</p>
                    {% if cart %}
                    <div class="summary-item"><span class="text">TOTAL:</span><span class="price" name="total_price" value="total_price"> ₹{{total_price}}</span></div><br>
                    {% endif %}
                {% endfor %}
		    </div><br><br>
        <div class="cancel">
            <a href="/dlt_order" style="text-decoration:none; margin-left:30px;"><button class="btn btn-outline-info">Cancel Order</button></a>
        </div><br>
	<div class="product">
        <h5 style=" margin-left:30px;">My Shipments</h5><br>
        <div class="row">
        <div class="product-section">
            <div class="card" style="width:40rem; height:40rem">

                <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>

            <div class="card-body"  >
                {% if cart %}
                {%  for x in cart %}

                                    <div class="row">
                                        <div class="col-md-3">
                                            <img style="margin-left:15px;" src= "{{ x.product_id.images.first.image.url }}" class="img-fluid rounded-start p-img" height="50px;" width="50px;">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="info">
                                                <div class="row">
                                                    <div class="col-md-5 product-name">
                                                        <div class="product-name">

                                                            <div class="product-info">
                                                                <h5 style="margin-left:15px;">{{x.product_id.product_name}} </h5>
<!--                                                                <div style="margin-left:15px;">{{x.product_id.description}}  </div>-->
                                                                <div style="margin-left:15px;">price:₹{{x.product_id.price}}</div>
                                                                <div style="margin-left:15px;">qty:{{x.quantity}}</div>
                                                                <div style="margin-left:15px;">₹{{x.total_price_single}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><br><br>
                                            </div></div>
                                            {% endfor %}
                                            </div>
                                            </div>
                {% endif %}

    </div>
    </div>
    </div>
        <h5 style=" margin-left:30px;">Shipping Address</h5><br>
        <div class="row">
        <div class="payment-section">
            <div class="card" style="width:25rem; height:20rem">
                <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
                <div class="card-body"  >
            {% for x in address|slice:":1" %}
            <p>{{x.house_name}}<br>
                {{x.house_number}}<br>
                {{x.place}}<br>
                {{x.post}}<br>
                {{x.pin}}<br>
                {{x.landmark}}<br>
                {{x.city}}<br>
            </p>
            {% endfor %}
        </div>
            </div>
        </div>
        </div>
        <h5 style=" margin-left:30px;">Price Details</h5>
        <div class="row">
        <div class="product-section">
            <div class="card" style="width:25rem; height:20rem">
                <img src="cc" height="10px;" width="10px;">
                <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>

            <div class="card-body"  >
                {% if cart %}
                <div class="summary-item"><span class="text">Amount:</span><span class="price" > ₹{{total_price}}</span></div>
                <div class="summary-item"><span class="text">Shipping Charge:</span><span class="price"> ₹0</span></div>
                <div class="summary-item"><span class="text">TOTAL MRP:</span><span class="price" name="total_price" value="total_price"> ₹{{total_price}}</span></div><br>
                {% endif %}
            </div>
            </div>
            <!-- Add more product details as needed -->
        </div>
    </div>
    </div>


        </div>
    </div>

	<script>
		let menuicn = document.querySelector(".menuicn");
		let nav = document.querySelector(".navcontainer");

		menuicn.addEventListener("click", () => {
			nav.classList.toggle("navclose");
		})
	</script>
</body>
</html>