{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible"content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>seller view product</title>
	<link rel="stylesheet" href="{% static '/css/profile.css' %}" text="text/css">
</head>
<body>


	<header>

		<div class="logosec">
			<div class="logo">EVERGLOWY</div>
			<img src= "{% static 'images/menu-png-icon-13.png' %}" class="icn menuicn" id="menuicn" alt="menu-icon">
		</div>
	</header>

	<div class="main-container">
			<div class="navcontainer">
			<nav class="nav">
				<div class="nav-upper-options">
					<div class="nav-option option3">
						<img src= "{% static 'images/Profile-PNG-Image.png' %}" class="nav-img" alt="profile">
							<a href="/seller" style="text-decoration:none; color:black;"><h3> Profile</h3></a>
					</div>

					<div class="nav-option option1">
						<img src= "{% static 'images/product-png-image.png' %}" class="nav-img" alt="address">
							<a href="/seller/seller_view_product" style="text-decoration:none; color:black;"><h3> Product</h3></a>
					</div>

					<div class="option2 nav-option">
						<img src= "{% static 'images/order-png-image.png' %}" class="nav-img" alt="orders">
						<a href="/seller/seller_orders" style="text-decoration:none;color:black;"><h3>Orders</h3></a>
					</div>

					<div class="nav-option logout">
						<img src= "{% static 'images/logout-png-image.png' %}" class="nav-img" alt="logout">
						<a href="/seller/seller_logout" style="text-decoration:none;color:black;"><h3>Logout</h3></a>
					</div>

				</div>
			</nav>
		</div>
		<div class="main">
			<div class="row">
				<a href="/seller/seller_add_product" style="text-decoration:none;"><button type="button" class="btn btn-outline-primary" style="width=150px; height=20px; text-decoration: none; color:black;">ADD PRODUCT</button></a>
            </div><br><br>
			<table class="table table-bordered table-striped ">
				<tbody>
                    <tr>
						<th scope="col">Product ID</th>
                        <th scope="col">Product Name</th>
						<th scope="col">Description</th>
                        <th scope="col">Price</th>
						<th scope="col">Expiry Date</th>
                        <th scope="col">Quantity</th>
						<th scope="col">Category Name</th>
						<th scope="col">Images</th>
                        <th scope="col">Action</th>
                    </tr>
				{% for x in data %}
					<tr>
						<td>{{x.product_id}}</td>
                        <td>{{x.product_name}}</td>
                        <td>{{x.description}}</td>
                        <td>{{x.price}}</td>
						<td>{{x.expiry_date}}</td>
                        <td>{{x.quantity}}</td>
                        <td>{{x.main_category_name}}</td>
						<td><a href="/seller/seller_add_image/{{x.product_id}}"><button type="file">Choose File</button> </a></td>
						<td><a href="/seller/seller_edit_product/{{x.product_id}}"><button type="button" class="btn btn-light" style="color: black; text-decoration:none; width:60px;">Edit</button></a><a href="/seller/seller_delete_product/{{x.product_id}}"><button type="button" class="btn btn-light" style="padding-left: 10px; color:black; text-decoration:none; width:60px;">Delete</button></a></td>
					</tr>
				{% endfor %}
                </tbody>
			</table>
<!--			{% for x in data %}-->
<!--			<div class="row">-->
<!--            <div class="card text-dark bg-light mb-3" style="max-width: 33rem; ">-->
<!--                <div class="row">-->
<!--                    <div class="col-md-8">-->
<!--                        <div class="card-body">-->
<!--                        <h5 class="card-title">{{x.product_name}}</h5>-->
<!--                        <p class="card-text">{{x.price}} <br>{{x.quantity }}<br>{{x.main_category_name}}</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-4">-->
<!--						<a href="/seller/seller_edit_product/{{x.product_id}}"><button type="button" class="btn btn-light" style="color: black; text-decoration:none; width:60px;">Edit</button></a>-->
<!--						<a href="/seller/seller_delete_product/{{x.product_id}}"><button type="button" class="btn btn-light" style="padding-left: 10px; color:black; text-decoration:none; width:60px;">Delete</button></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <br>-->
<!--            </div>-->
<!--		</div>-->
<!--			{% endfor %}-->
	</div>
	</div>

	<script>
		let menuicn = document.querySelector(".menuicn");
		let nav = document.querySelector(".navcontainer");

		menuicn.addEventListener("click", () => {
			nav.classList.toggle("navclose");
		})
	</script>
</body>
</html>