{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible"content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>seller add product</title>
	<link rel="stylesheet" href="{% static '/css/profile.css' %}" text="text/css">
</head>
<body>


	<header>

		<div class="logosec">
			<div class="logo">EVERGLOWY</div>
			<img src= "{% static 'images/menu-png-icon-13.png' %}" class="icn menuicn" id="menuicn" alt="menu-icon">
		</div>
	</header>

	<div class="main-container">
		<div class="navcontainer">
			<nav class="nav">
				<div class="nav-upper-options">
					<div class="nav-option option3">
						<img src= "{% static 'images/Profile-PNG-Image.png' %}" class="nav-img" alt="profile">
							<a href="/seller" style="text-decoration:none; color:black;"><h3> Profile</h3></a>
					</div>

					<div class="nav-option option1">
						<img src= "{% static 'images/address-icon-png-5.png' %}" class="nav-img" alt="address">
							<a href="seller/seller_view_product" style="text-decoration:none; color:black;"><h3> Product</h3></a>
					</div>

					<div class="option2 nav-option">
						<img src= "{% static 'images/order-png-image.png' %}" class="nav-img" alt="orders">
						<a href="seller/seller_orders" style="text-decoration:none;color:black;"><h3>Orders</h3></a>
					</div>

					<div class="nav-option logout">
						<img src= "{% static 'images/logout-png-image.png' %}" class="nav-img" alt="logout">
						<a href="seller/seller_logout" style="text-decoration:none;color:black;"><h3>Logout</h3></a>
					</div>

				</div>
			</nav>
		</div>
		<div class="main">
			<div class="form">

					<form  method="POST" style="margin-left:30px;">
						{% csrf_token %}
<!--                <div class="mb-3" >-->
<!--                    <label for="exampleInputName1" class="form-label"></label>-->
<!--                    <input type="text" class="form-control" id="exampleInputName1" name="product_number" placeholder="PRODUCT ID" aria-describedby="nameHelp" style="width:500px; border-radius:20px; height:30px;text-align:center;"><br>-->
<!--                  </div>-->
                <div class="mb-3" style="padding-top:20px;">
                    <label for="exampleInputNumber1" class="form-label"></label>
                    <input type="text" class="form-control" id="exampleInputName1" name="product_name" aria-describedby="emailHelp" placeholder="PRODUCT NAME" style="width:500px; border-radius:20px; height:30px;text-align:center;"><br>
                </div>
                <div class="mb-3" style="padding-top:20px;">
                    <label for="exampleInputNumber1" class="form-label"></label>
                    <input type="text" class="form-control" id="exampleInputName1" name="description" aria-describedby="numberHelp" placeholder="DESCRIPTION" style="width:500px; border-radius:20px; height:30px;text-align:center;"><br>
                </div>
                <div class="mb-3" style="padding-top:20px;">
                    <label for="exampleInputName1" class="form-label"></label>
                    <input type="text" class="form-control" id="exampleInputName1" name="expiry_date" placeholder="EXPIRY DATE" aria-describedby="nameHelp" style="width:500px; border-radius:20px; height:30px;text-align:center;"><br>
                  </div>
                <div class="mb-3" style="padding-top:20px;">
                    <label for="exampleInputNumber1" class="form-label"></label>
                    <input type="text" class="form-control" id="exampleInputNumber1" name="qty" aria-describedby="emailHelp" placeholder="QUANTITY" style="width:500px; border-radius:20px; height:30px;text-align:center;"><br>
                </div>


                <a href="seller/seller_view_product"><button type="submit" class="btn btn-primary" style="border-radius: 20px; font-size: 15px; margin-left:18%; width:100px; height:30px; background-color:blue; color:white;">ADD</button></a> <br>
            </form>

			</div>
		</div>
	</div>

	<script>
		let menuicn = document.querySelector(".menuicn");
		let nav = document.querySelector(".navcontainer");

		menuicn.addEventListener("click", () => {
			nav.classList.toggle("navclose");
		})
	</script>
</body>
</html>