{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible"content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>seller view product</title>
	<link rel="stylesheet" href="{% static '/css/profile.css' %}" text="text/css">
</head>
<body>


	<header>

		<div class="logosec">
			<div class="logo">EVERGLOWY</div>
			<img src= "{% static 'images/menu-png-icon-13.png' %}" class="icn menuicn" id="menuicn" alt="menu-icon">
		</div>
	</header>

	<div class="main-container">
			<div class="navcontainer">
			<nav class="nav">
				<div class="nav-upper-options">
					<div class="nav-option option3">
						<img src= "{% static 'images/Profile-PNG-Image.png' %}" class="nav-img" alt="profile">
							<a href="/seller" style="text-decoration:none; color:black;"><h3> Profile</h3></a>
					</div>

					<div class="nav-option option1">
						<img src= "{% static 'images/address-icon-png-5.png' %}" class="nav-img" alt="address">
							<a href="/seller/seller_view_product" style="text-decoration:none; color:black;"><h3> Product</h3></a>
					</div>

					<div class="option2 nav-option">
						<img src= "{% static 'images/order-png-image.png' %}" class="nav-img" alt="orders">
						<a href="/seller/seller_orders" style="text-decoration:none;color:black;"><h3>Orders</h3></a>
					</div>

					<div class="nav-option logout">
						<img src= "{% static 'images/logout-png-image.png' %}" class="nav-img" alt="logout">
						<a href="/seller/seller_logout" style="text-decoration:none;color:black;"><h3>Logout</h3></a>
					</div>

				</div>
			</nav>
		</div>
		<div class="main">
			<div class="row">
                    <a href="/seller/seller_add_product" style="text-decoration:none;"><button type="button" class="btn btn-outline-primary" style="width=100px; height=20px; text-decoration: none; color:black;">ADD PRODUCT</button></a>
            </div>
			{% for x in data %}
			<div class="row">
            <div class="card text-dark bg-light mb-3" style="max-width: 33rem; ">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card-body">
                        <h5 class="card-title">{{x.product_name}}</h5>
                        <p class="card-text">{{x.price}} <br>{{x.quantity }}<br>{{x.category_name}}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <a href="/seller/seller_edit_product/{{x.product_id}}" class="btn btn-light" style="color: black; text-decoration:none">Edit</a>
                        <a href="/seller/seller_delete_product/{{x.product_id}}" class="btn btn-light" style="padding-left: 10px; color:black; text-decoration:none">Delete</a>
                    </div>
                </div>
                <br>
            </div>
		</div>
			{% endfor %}
	</div>
	</div>

	<script>
		let menuicn = document.querySelector(".menuicn");
		let nav = document.querySelector(".navcontainer");

		menuicn.addEventListener("click", () => {
			nav.classList.toggle("navclose");
		})
	</script>
</body>
</html>